/* h1 h2 #212121 */
/* вторичный цвет шрифта #757575 */
/* акцент #2196F3 */
/* background #2F303A */
/* light background #F5F4FA */
/* #FFFFFF */
/* from FFFFFF rgba(0,0,0,0.6) */
/* studio #000000 */
body {
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h3 {
    padding-bottom: 10px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.logo {
    text-decoration: none;
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000;
}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav li {
    margin-right: 50px;
}
.site-nav li:last-child {
    margin-right: 0;
}

.site-nav a {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;



}
.site-nav .link.current{
    color: #2196F3

}
  
.site-nav a:hover,
.site-nav a:focus {
    color: #2196F3;
}
.header-contacts {
    margin-left: auto;
    display:flex
    
    
}
.contacts:not(:last-child) {
    
margin-right: 50px;
    }

.header-contacts a {
    color: #757575;
    text-decoration: none;
    height: 16px;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    }
.header-contacts a:hover,
.header-contacts a:focus {
    color: #2196F3
}
.main-nav {
    display: flex;
    align-items: center;
    }

.hero,
footer {
    background-color: #2F303A;

}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.06em;
 
    margin-block-end: 0;
    margin-block-start: 0;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
   }
   .hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
   }

   .button {
    text-align: center;
    align-items: center;

   }


.button-main {
   
    text-align: center;
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    margin: 0 auto;
    min-width: 200px;
    border: 1px solid transparent

    
    


}
.button-portfolio {
    background-color: #2196F3;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: 1px solid transparent



}
.button-list {
    display: flex;
    text-align: center;
    padding-top: 94px;
    justify-content: center;
    margin-bottom: 34px;
}
.button-list li {
    margin-right: 8px;
}
.section {
    padding-bottom: 94px;

}
.description {
    padding-top: 94px;
}
.description-list {
    display: flex;

}
.description-list li {
    margin-right: 30px;
    width: 270px;
}
.description-list li:last-child {
   margin-right: 0;
}

.description-title {
    text-transform: uppercase;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 10px;



}

.description-content {
color: #757575;
line-height: 1.7;
letter-spacing: 0.03em;
margin-block-end: 0;
margin-block-start: 0;
font-size: 14px;


}

.section-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 50px;

}
.activity-section {
    
    padding-bottom: 94px;
}
.activity {
    display: flex;
}
.activity li {
    margin-right: 30px;
}
.activity li:last-child {
    margin-right: 0;
}
.team {
    background-color: #F5F4FA;
    ;
}
.team section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
}
.team-list li {
   margin-right: 30px;
}
.team-list li:last-child {
    margin-right: 0;
}

.team-title {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 12px;
}
h3 {
    padding-bottom: 0;
    margin-bottom: 12px;
}
.team-list-section {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
img {
    display: block;
}
.footlogo {
    display: block;
   margin-bottom: 20px;
}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-studio {
    color: #FFFFFF
}

.footer-contacts {
    color: #FFFFFF99;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-list li {
    margin-bottom: 9px;
}
.footer-list li:last-child {
    margin-bottom: 0 ;
}




.address {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 12px;


}
.list-title {
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
margin-block-end: 0;
margin-block-start: 0;
margin-bottom: 4px;

}
.list-content {
color: #757575;
line-height: 1.8;
letter-spacing: 0.03em;
margin-block-end: 0;
margin-block-start: 0;


}
.images-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}


.portfolio-header {
    border-bottom: 1px solid
}
.main-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.img-section {
    padding: 30px;
    border-bottom: 1px;
    border-right: 1px ;
    border-left: 1px;
}