body {
    background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif
   
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.logo {
    text-decoration: none;
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav li {
    margin-right: 50px;
}

.site-nav li:last-child {
    margin-right: 0;
}

.site-nav a {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
    color: #2196F3
}

.site-nav a:hover,
.site-nav a:focus {
    color: #2196F3;
}
.link {
    position: relative;
}

.site-nav .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196F3;
    opacity: 0;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover::after {
    opacity: 1;
}
.header-contacts {
    margin-left: auto;
    display: flex
}

.contacts:not(:last-child) {

    margin-right: 50px;
}

.contacts .mail-icon {


    margin-right: 10px;
    fill: currentColor;

}

.contacts .phone-icon {

    margin-right: 10px;
    fill: currentColor;

}

.mail-icon:hover {
    fill: #2196F3;

}

.phone-icon:hover {
    fill: #2196F3;
}

.contacts a {
    display: flex;
    align-items: center;
}

.header-contacts a {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-contacts a:hover,
.header-contacts a:focus {
    color: #2196F3
}

.main-nav {
    display: flex;
    align-items: center;
}



.hero,
footer {
    background-color: #2F303A;

}

.hero-title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.06em;

    margin-block-end: 0;
    margin-block-start: 0;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/img-overlay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    text-align: center;
    align-items: center;
}

.button-main {
    cursor: pointer;

    text-align: center;
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    margin: 0 auto;
    min-width: 200px;
    border: 1px solid transparent
    
}

.button-portfolio {
    background-color: #F5F4FA;
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: 1px solid transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

}

.button-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list li:not(:last-child) {
    margin-right: 8px;
}

.description {
    padding-top: 94px;
}

.description-list {
    display: flex;

}

.description-list li {
    margin-right: 30px;
    width: 270px;
}

.description-list li:last-child {
    margin-right: 0;
}

.description-title {
    text-transform: uppercase;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 10px;



}

.description-content {
    color: #757575;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 14px;


}

.description-icon {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.section-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 50px;

}

.activity-section {

    padding-bottom: 94px;
    padding-top: 0;
}

.activity {
    display: flex;
}

.activity li {
    margin-right: 30px;
}

.activity li:last-child {
    margin-right: 0;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}


.team-list {
    display: flex;
}

.team-list li {
    margin-right: 30px;
}

.team-list li:last-child {
    margin-right: 0;
}

.team-title {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 12px;
}



.team-list-section {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-card {

    width: 270px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;

}

img {
    display: block;
}

.footlogo {
    display: block;
    margin-bottom: 20px;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-studio {
    color: #FFFFFF
}

.footer-contacts {
    color: #FFFFFF99;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-list li {
    margin-bottom: 9px;
}

.footer-list li:last-child {
    margin-bottom: 0;
}




.address {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 12px;


}

.list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 4px;
    color: #000;

}

.list-content {
    color: #757575;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;


}

.images-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.portfolio-link-item:hover{
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio-header {
    border-bottom: 1px solid #ECECEC
}

.img-section {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
    

.socials-link:hover,
.socials-link:focus {
    background-color: #2196F3;
}


.socials-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover .socials-icon {
    fill: #FFFFFF
}

.socials-link:focus .socials-icon {
    fill: #FFFFFF
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}
.clients-item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
}


.clients-link:hover, .clients-link:focus {
    fill: #2196F3;
    border-color: #2196F3;
    
}
.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
   fill: #AFB1B8;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.footer-socials-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 20px;
   }

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #2196F3;
}

.footer-socials-icon {
    fill: #FFFFFF;
}

.footer-socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-right {
    margin-left: 70px;
}
.backdrop {
position: fixed;
height: 100%;
width: 100%;
top:0;
left:0;
background: rgba(0, 0, 0, 0.2);
transition: visability 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 1;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}
  
.modal {
position: absolute;
top: 50%;
left: 50%;
padding: 40px;
transform: translate(-50%, -50%) scale(1);
border-radius: 4px;
box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
height: 581px;
width: 528px;
background: #FFFFFF;
 }
 .modal-title {
    display: block;
    margin: 0;
    margin-bottom: 12px;
 
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121
 }
 .label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
 }
 .input-field {
    position: relative;
    margin-bottom: 10px;
 }
 .input {
    display: block;
    text-align: center;
    padding: 12px 42px;
    height: 40px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .input:hover{
border-color: #2196F3;
fill: #2196f3;

 }
 .input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }
 .icon-input {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(12px, -50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .icon-input:hover, .input:hover{
    fill: #2196F3;
 }
 .input-field:focus-within .input,
 .input-field:hover .input {
    border: 1px solid #2196F3;
 }
 

 .input-comments {
    display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
 }
 .policy-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
 }
 .policy-link {
    color: #2196F3;
 }
 .text-policy-link {
    color: #757575;
    font-size: 14px;
 }
 .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
   overflow: hidden;
 }
 .custom-checkbox {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 1.5px solid #212121;
    border-radius: 2px;
 }
 .checkbox:checked + .custom-checkbox {
  
    background-image: url(../css/icons/icon-checkk.svg);
    background-size: contain;
    background-origin: border-box;
    border: none;
background-color: #2196F3;}
     
 .send-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: #2196f3;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .flex-cont {
    display: flex;
    align-items: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 .card-overlay {
    overflow: hidden;
    position: relative;
 }
 .email-input {
 margin: 0;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-input:hover {
    border-color: #2196f3;

}
.subscribe-button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;
    padding: 10px 29px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 700;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription {
  
    margin-left: auto;
}
.send-icon {
    margin-left: 10px;
}
 
 

 .card-overlay::before {
    position: absolute;
    display: inline-block;
    content:"Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
    color: #FFFFFF;
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    

    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(calc(+100%));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    
    

 }
.portfolio-link-item:hover .card-overlay::before {
    transform: translateY(0px);
    opacity: 1;
    
    }
    .close-button {
        cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(-8px, 8px);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .close-button:hover {
        border-color: #2196F3;
        fill: #2196F3;
    }
    .close {
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    
    
    .portfolio-link-item {
        text-decoration: none;
    }
