body {
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    padding-bottom: 10px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



.logo {
    text-decoration: none;
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav li {
    margin-right: 50px;
}

.site-nav li:last-child {
    margin-right: 0;
}

.site-nav a {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;



}

.site-nav .link.current {
    color: #2196F3
}

.site-nav a:hover,
.site-nav a:focus {
    color: #2196F3;
}

.header-contacts {
    margin-left: auto;
    display: flex
}

.contacts:not(:last-child) {

    margin-right: 50px;
}

.contacts .mail-icon {


    margin-right: 10px;
    fill: currentColor;

}

.contacts .phone-icon {

    margin-right: 10px;
    fill: currentColor;

}

.mail-icon:hover {
    fill: #2196F3;

}

.phone-icon:hover {
    fill: #2196F3;
}

.contacts a {
    display: flex;
    align-items: center;
}

.header-contacts a {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.header-contacts a:hover,
.header-contacts a:focus {
    color: #2196F3
}

.main-nav {
    display: flex;
    align-items: center;
}



.hero,
footer {
    background-color: #2F303A;

}

.hero-title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.06em;

    margin-block-end: 0;
    margin-block-start: 0;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/img-overlay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    text-align: center;
    align-items: center;
}

.button-main {

    text-align: center;
    align-items: center;
    background-color: #2196F3;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    margin: 0 auto;
    min-width: 200px;
    border: 1px solid transparent
}

.button-portfolio {
    background-color: #F5F4FA;
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: 1px solid transparent
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.button-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list li:not(:last-child) {
    margin-right: 8px;
}

.description {
    padding-top: 94px;
}

.description-list {
    display: flex;

}

.description-list li {
    margin-right: 30px;
    width: 270px;
}

.description-list li:last-child {
    margin-right: 0;
}

.description-title {
    text-transform: uppercase;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 10px;



}

.description-content {
    color: #757575;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 14px;


}

.description-icon {
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.section-title {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 50px;

}

.activity-section {

    padding-bottom: 94px;
}

.activity {
    display: flex;
}

.activity li {
    margin-right: 30px;
}

.activity li:last-child {
    margin-right: 0;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}


.team-list {
    display: flex;
}

.team-list li {
    margin-right: 30px;
}

.team-list li:last-child {
    margin-right: 0;
}

.team-title {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 12px;
}

h3 {
    padding-bottom: 0;
    margin-bottom: 12px;
}

.team-list-section {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-card {

    width: 270px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;

}

img {
    display: block;
}

.footlogo {
    display: block;
    margin-bottom: 20px;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-studio {
    color: #FFFFFF
}

.footer-contacts {
    color: #FFFFFF99;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-list li {
    margin-bottom: 9px;
}

.footer-list li:last-child {
    margin-bottom: 0;
}




.address {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 12px;


}

.list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 4px;

}

.list-content {
    color: #757575;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-block-end: 0;
    margin-block-start: 0;


}

.images-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.images-list-item {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.portfolio-header {
    border-bottom: 1px solid #ECECEC
}

.section.main-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.img-section {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.socials-link:hover,
.socials-link:focus {
    background-color: #2196F3;
}


.socials-icon {
    fill: #AFB1B8;
}

.socials-link:hover .socials-icon {
    fill: #FFFFFF
}

.socials-link:focus .socials-icon {
    fill: #FFFFFF
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-item {
    width: 170px;
    height: 92px;
    border-radius: 4px;

}

.clients-icon {

    fill: #AFB1B8;
}

.clients-icon:hover, .clients-icon:focus {
    fill: currentColor;
}

.clients-link:hover, .clients-link:focus {
    fill: currentColor;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: #2196F3;
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid 
    currentColor;
}
.footer-socials-title {
    width: 116px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1)
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #2196F3;
}

.footer-socials-icon {
    fill: #FFFFFF;
}

.footer-socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-right {
    margin-left: 70px;
}