.hero, footer { 
    background-color: #2F303A;}

.hero-title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.06em;

    margin-block-end: 0;
    margin-block-start: 0;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/img-overlay.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
