.logo {
    text-decoration: none;
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: #000;
}
.footlogo {
    display: block;
    margin-bottom: 20px;}
.footer-studio {
        color: #FFFFFF
    }